<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Test</title>
</head>

<body>
    <div id="app" class="p-3">
        <input type="text" v-model="searchValue" placeholder="Search Recipe" id="search-input" class="form-control mb-3" autofocus>
        <div v-for="recipe in filteredRecipes" :key="recipe.title" class="card mr-2"
            style="width: 18rem; float: left;">
            <img :src="recipe.img" class="card-img-top" :alt="recipe.title">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.title }}</h5>
                <p class="card-text text-muted">{{ recipe.description }}</p>
            </div>
        </div>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    searchValue: '',
                    recipes: [
                        { title: 'Pizza', description: 'Yummy pizza for those lazy days', ingredients: ['Dough', 'Tomato Paste', 'Cheese', 'Bell Pepper', 'Onion'], cookingTime: 60, img: 'https://images.unsplash.com/photo-1513104890138-7c749659a591?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80' },
                        { title: 'Burritos', description: 'Healthy yet very tasty burritos', ingredients: ['Burritos', 'Kidney beans', 'Onion', 'Tomato', 'Bell Pepper'], cookingTime: 30, img: 'https://images.unsplash.com/photo-1566740933430-b5e70b06d2d5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80' },
                        { title: 'Tomato Soup', description: 'A tasty tomato soup for the cold', ingredients: ['Tomatoes', 'Onion', 'Oregano'], cookingTime: 45, img: 'https://images.unsplash.com/photo-1553881781-4c55163dc5fd?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80' },
                        { title: 'Ice Cream', description: 'Just because Ice Cream', ingredients: ['Whole milk', 'Cream', 'Eggs', 'Sugar'], cookingTime: 120, img: 'https://images.unsplash.com/photo-1515037028865-0a2a82603f7c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1321&q=80' },
                    ],
                    filtered: []
                };
            },
            computed: {
                filteredRecipes() {
                    let tempRecipes = this.recipes

                    // Process search input
                    if (this.searchValue.length > 0) {
                        tempRecipes = tempRecipes.filter((item) => {
                            return item.title
                                .toUpperCase()
                                .includes(this.searchValue.toUpperCase())
                        })
                    }
                    return tempRecipes
                }
            },
            methods: {
                search(input) {
                    let tempRecipes = this.recipes

                    if (this.searchValue.length > 0) {
                        for (let i = 0; i < this.recipes.length; i++) {
                            const datarow = this.recipes[i]
                            const name = this.recipes[i]['title']

                            if(name.toUpperCase().includes(this.searchValue.toUpperCase())) {
                                return this.filtered.push(datarow)
                            }
                        }
                    } else {
                        this.recipes
                    }
                    return tempRecipes
                }
            }
        })
    </script>
</body>

</html>